body {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font: 1em sans-serif;
}

h1 {
    font-size: 2em;
    margin: 0;
}

canvas {
    border: 1px solid black;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: bold;
    min-width: 100px;
}

button:hover {
    background-color: darkgray;
    cursor: pointer;
}

button:active {
    background-color: gray;
}

.buttons {
    margin: 10px 0;
}

.gen {
    margin: 0 auto;
    text-align: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: bold;
    max-width: 200px;
}